.App {
  text-align: center;
}


.App-header {
  background-color: #646e7b;
  padding: 20px 0px 20px 0px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

* {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: #352e2e;
}

input[type="text"] {
  height: 2em;
  width: 370px;
  background-color:#838b95 ;
  border: none;
  padding: 0.5em;
  color: white;
}

input::placeholder{
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.city{
  margin: 10px;
  background: #f1f1f1;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  height: 100px;
}
.name{
  font-weight: bold;
}

.left, .mid, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0.5em 0px 0.5em;
  flex: 1 1 auto;
}

.mid {
  align-items: center;
  text-align: center;

}

.left {
text-align: left;
}

.right {
text-align: right;
}

.close{
  align-self: flex-start;
  cursor: pointer;
}
